.Cards {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 7rem;
}

.Row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.Col3 {
  width: calc((70% - 9rem) / 4);
  min-width: 20.1rem;
}

.Col3:not(:last-child) {
  margin-right: 3rem;
}
