@value Variables: "../../../styles/Variables.css";
@value white-color, typeform-border-color from Variables;

.modalCont {
  background: var(--color4);
  padding-bottom: 20px;
  width: 300px;
  margin: 0px auto;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0px;
  right: 10px;
  box-shadow: 0 0 20px #000;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modalHead {
  /* padding: 10px; */
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.modalBody {
  /* padding: 10px; */
  font-size: 15px;
  text-align: center;
}
