.CanvasSection {
  opacity: 0;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.CanvasSectionVisible {
  opacity: 1;
  z-index: 40;
  width: 100%;
}

.HeaderSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.InterectionSection {
  height: 100%;
  opacity: 1;
  transform: none;
  animation: clyjef 0.55s ease 0s 1 normal none running;
}

.CanvasWrapper {
  height: calc(100% - 56px);
}

.Canvas {
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  height: 100%;
  padding-bottom: 500px;
  outline: none;
}

.Canvas::before {
  content: "";
  display: block;
  width: 100%;
  margin-bottom: 400px;
}

.FooterSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
