@value Variables: "../../../../styles/Variables.css";
@value fontFam-1 from Variables;

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.item:not(:last-child) {
  margin-bottom: 2rem;
}

.questionText {
  position: relative;
  top: 4px;
  font-family: fontFam-1;
}
.decoration {
  display: flex;
  /* flex-flow: row nowrap; */
  padding: 20px;
  border-radius: 3px;
  margin-right: 1rem;
  position: relative;
}

.iconHolder {
  height: 1.8rem;
  margin-top: 0.4rem;
}

.icon {
  font-size: 30px;
  color: #eb1761;
  color: var(--color1);
  margin-right: 20px;
}
.avatarCont {
  margin-right: 10px;
}
.avatar {
  width: 4rem;
  height: 4rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  box-shadow: 0 0 2px var(--color1);
  border: 2px solid #fff;
  transition: all 0.3s ease-in;
}
.avatar:hover {
  box-shadow: 0 0 5px #000;
  cursor: pointer;
}
.avatar:active {
  box-shadow: inset 0 0 10px #000;
}
.uname {
  position: relative;
  top: 14px;
  font-weight: bold;
  color: var(--color1);
}
.name {
  background-color: #67e5fc;
}

.email {
  background-color: #38003c;
}

.date {
  background-color: #201266;
}

.sign {
  background-color: #118da0;
}

.text {
  font-size: 1.5rem;
}

.signatureWrapper {
  height: 20rem;
  width: 20rem;
}

.signature {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  padding: 10px;
}
