@value Variables: "../../../../styles/Variables.css";
@value fontFam-1 from Variables;

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.item:not(:last-child) {
  margin-bottom: 2rem;
}

.questionText {
  position: relative;
  top: 4px;
  font-family: fontFam-1;
}
.decoration {
  display: flex;
  /* flex-flow: row nowrap; */
  padding: 20px;
  border-radius: 3px;
  margin-right: 1rem;
  position: relative;
}

.iconHolder {
  height: 1.8rem;
  margin-top: 0.4rem;
}

.icon {
  font-size: 30px;
  color: #eb1761;
  color: var(--color1);
  margin-right: 20px;
}

.name {
  background-color: #67e5fc;
}

.email {
  background-color: #38003c;
}

.date {
  background-color: #201266;
}

.sign {
  background-color: #118da0;
}

.text {
  font-size: 1.5rem;
}

.signatureWrapper {
  height: 20rem;
  width: 20rem;
}

.signature {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  padding: 10px;
}
