@value Variables: "../../../styles/Variables.css";
@value white-color, typeform-border-color from Variables;

.officialSection {
  height: 40vh;
  min-height: 40rem;
  width: 65%;
  margin: 0 auto;
  background-color: white-color;
  border-radius: 9px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondaryHeading {
  padding-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.fileUploaderWrapper {
  width: 87%;
  margin-bottom: 2rem;
}

.Controls {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
}
