@value Variables: "../../../styles/Variables.css";
@value defaultFont, typeform-border-color from Variables;

.control {
  margin-top: 5rem;
}

.controlBox {
  width: 100%;
  border-bottom: 2px solid typeform-border-color;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 3rem;
}

.controlText {
  text-decoration: none;
  font-size: defaultFont;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
  opacity: 0.2;
}

.controlTextActive {
  opacity: 1;
  background-color: aqua;
  padding: 0.5rem 2rem;
}

.controlText:not(:last-child) {
  margin-right: 2rem;
}
