.Cards {
  /* margin-top: 3rem; */
  /* margin-left: 3rem; */
  /* margin-right: 7rem; */
  border-left: 1px solid #dadcde;
  box-shadow: 0px 0px 10px #eee;
  padding: 50px;
  background: #fff;
}

.Row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.Col3 {
  max-width: 20rem;
  width: calc((100% - 9rem) / 4);
}

.Col3:not(:last-child) {
  margin-right: 3rem;
}
