@value variables: "../../../styles/Variables.css";
@value tertiary-color-light, typeform-border-color from variables;

.section {
  padding: 0px 20px;
}

.table {
  /* background-color: tertiary-color-light; */
  width: 100%;
  /* border:1px solid #fff; */
  /* box-shadow: 0px 0px 10px #ccc */
  border: 1px solid #eee;
}

thead {
  background: #ddd;
  background: -webkit-linear-gradient(top, #fff, #f1f1f1);
  /* background:tertiary-color-light; */
}
thead th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background: tertiary-color-light;
}
tbody tr:nth-child(odd) {
  background: #fff;
}
.membersHead {
  /* display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem 0;
  padding-left: 2rem;
  padding-right: 6rem;
  border-bottom: 1px solid typeform-border-color; */
}
