@value Variables:  "../../../../styles/Variables.css";
@value secondary-color, typeform-border-color from Variables;

.configuration {
  padding: 0 2rem;
}

.requiredRuleWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.input {
  visibility: hidden;
}

.inputLabel {
  height: 1.8rem;
  width: 3.5rem;
  position: relative;
  margin-top: 0.8rem;
  border-radius: 3.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #bbb;
  opacity: 1;
  pointer-events: auto;
}

.toggleButton {
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 3.5rem;
  position: absolute;
  border-radius: 3.2rem;
}

.toggleButton::after {
  content: "";
  top: 2.2px;
  left: 2px;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.input:checked ~ .toggleButton::after {
  left: 2.1rem;
}

.input:checked ~ .toggleButton {
  background-color: secondary-color;
}

.minMaxRule {
  margin-bottom: 2rem;
}

.minRuleBox,
.maxRuleBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.minRuleBox {
  margin: 2rem 0;
}

.ruleText {
  white-space: nowrap;
  margin-right: 0.8rem;
}

.inputValue {
  width: 4rem;
  border: none;
  border: 1px solid typeform-border-color;
  border-radius: 2px;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding-left: 0.15rem;
}

.inputValue:focus,
.textarea:focus {
  outline: 1px solid secondary-color;
}

.inputValue::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.textarea {
  width: 20rem;
  border: none;
  padding-left: 0.3rem;
  font-size: inherit;
  font-family: inherit;
  border: 0.1px solid typeform-border-color;
}
