.answerWrapper {
  margin-top: 16px;
}

.answerContent {
  min-height: 1px;
  margin-top: -1px;
  outline: none;
}

.validationWrapper {
  opacity: 0;
  pointer-events: none;
  transform: translateY(8px);
  transition: all 300ms ease 0ms;
}

.validation {
  margin-top: 15px;
  position: absolute;
  background-color: rgba(153, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 4px 8px;
}

.validationText {
  font-weight: unset;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0px;
}
