.AnswerWrapper {
  margin-top: 32px;
}

.AnswerContents {
  outline: none;
}

.AnswerBox {
  position: relative;
}

.AnswerText {
  position: relative;
}

.Answer {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(79, 176, 174);
  color: var(--color3);
  -webkit-appearance: none;
  font-size: 30px;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  padding: 0px 24px 8px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  background: none;
}

.Answer:not(:focus) {
  box-shadow: rgba(79, 176, 174, 0.3) 0px 1px;
  box-shadow: var(--color4) 0px 1px;
}

.AnswerDecorationWrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.AnswerDecoration {
  font-size: 3rem;
  color: rgb(79, 176, 174);
  color: var(--color3);
}

.InactiveWrapper {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}

.ActiveWrapper {
  opacity: 1;
}

.AnswerOptionsWrapper {
  transition: all 200ms ease 0ms;
}

.OptionsBox {
  z-index: 30;
  position: absolute;
  width: 100%;
}
