@value Variables: "../../../../styles/Variables.css";
@value secondary-color,  white-color from Variables;

.red {
  background-color: secondary-color;
  background-color: var(--color1);
  color: white-color;
}
