*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

label {
  cursor: default;
}

#root {
  height: 100vh;
}

.ActivteElement {
  width: 100%;
  opacity: 1;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.InactiveElement {
  width: 100%;
  opacity: 0.2;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}
