*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color1: #ccc;
  --color2: #ccc;
  --color3: #ccc;
  --color4: #ccc;
  --color5: #ccc;
  --color6: #ccc;
  --color7: #ccc;
  --color8: #ccc;
  --white: #ffffff;
  --black: #000000;
  --blue: #0d6eff;
  --dark-light: #424455;
  --red: #000;
  --green: #09e99d;
  --grey: #ecedf3;
  --purple: #320de2;
  --yellow: #efa53f;
  --peach: #f64b53;
}

html {
  /* font-size: 62.5%; */
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

label {
  cursor: default;
}

#root {
  height: 100vh;
}
.naira {
  font-family: baloo;
  color: blue;
}
.ActivteElement {
  width: 100%;
  opacity: 1;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.InactiveElement {
  width: 100%;
  opacity: 0.2;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.bold {
  font-family: "Proxima Nova Bold";
}

button {
  border: none;
  background: transparent;
}
