@value variables: "./Variables.css";
@value defaultFont, secondary-color, white-color from variables;

.btn {
  text-decoration: none;
  font-size: defaultFont;
  padding: 0.6rem 2rem;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
}

.btn--primary {
  background-color: secondary-color;
  color: white-color;
}

.btn--action {
  white-space: nowrap;
  border-radius: 10rem;
}

.btn--action:hover {
  opacity: 0.8;
}

.btn--navigation {
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
}

.btn--navigation:first-child {
  margin-right: 0.5rem;
}
