.introduction {
  background-color: #f15c90;
}

.signature {
  background-color: #286107;
}

.statement {
  background-color: #67e5fc;
}

.account {
  background-color: #b90707;
}

.video,
.picture {
  background-color: black;
}

.gender {
  background-color: #07b9b9;
}

.shorttext {
  background-color: #e4c601;
}

.longtext {
  background-color: #707070;
}

.address {
  background-color: #4199f5;
}

.mobile {
  background-color: #ada7fa;
}

.tel {
  background-color: #5631e9;
}

.creditcards {
  background-color: #11a089;
}

.section {
  background-color: #4a1a3f;
}

.date {
  background-color: #201266;
}

.dob {
  background-color: #f34247;
}

.number {
  background-color: #e04f78;
}

.state {
  background-color: #124766;
}

.branch {
  background-color: #124766;
}

.country {
  background-color: #d59540;
}

.lga {
  background-color: #24645a;
}

.email {
  background-color: #38003c;
}

.yesorno {
  background-color: #e96d31;
}

.multichoice {
  background-color: #4fa9b3;
}

.dropdown {
  background-color: #58457a;
}

.passport {
  background-color: #409fd5;
}

.firstname {
  background-color: #ee55da;
}

.bvn {
  background-color: #118da0;
}

.lastname {
  background-color: #6d1361;
}
