@value Variables: "../../../styles/Variables.css";
@value border-color, secondary-color, white-color from Variables;

.uploadSection {
  margin-bottom: 2rem;
}

.dropArea {
  position: relative;
  height: 21rem;
  width: 100%;
  /* border: 4px dashed border-color; */
  border: 2px solid #ccc;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  background: #ddd;
  cursor: pointer;
  padding: 20px;
}

.highlight {
  border-color: secondary-color;
}

.dropAreaContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uploadInstruction {
  font-size: 30px;
  color: #999;
  line-height: 1.2em;
  font-weight: bold;
  font-family: "Gilroy";
}

.logo {
  display: none;
}

.inputLabel {
  padding: 1.1rem 2.9rem;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: secondary-color;
  color: white-color;
}
