@value variables: "../../../../../styles/Variables.css";
@value primary-color, secondary-color, tertiary-color from variables;

.Footer {
  background-color: tertiary-color;
  background-color: var(--color4);
  width: 100%;
}
.btn {
  background: #fff;
  color: var(--color1);
  padding: 10px;
}
.FooterContent {
  margin: 0 2rem;
  width: 100%;
  display: inline-flex;
}

.FooterProgress {
  width: 70%;
  color: var(--color1);
}

.FooterNavigiation {
  width: 19%;
  display: flex;
  padding-bottom: 1rem;
}

progress[value] {
  width: 25rem;
  height: 0.5rem;
  margin-bottom: 2rem;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
  background: linear-gradient(var(--color1), var(--color1));
  border-radius: 3rem;
}
progress::-webkit-progress-value {
  background-image: linear-gradient(secondary-color, secondary-color);
  border-radius: 3rem;
}

progress::-moz-progress-bar {
  background: linear-gradient(var(--color1), var(--color1));
  border-radius: 3rem;
}

progress::-moz-progress-value {
  background-image: linear-gradient(secondary-color, secondary-color);
  border-radius: 3rem;
}
