@value variables: "../../../styles/Variables.css";
@value secondary-color, tertiary-color,tertiary-color-light, typeform-border-color from variables;
.AdminSidebarRelative {
  position: relative;
  left: 0;
  width: 15vw;
}
.AdminSidebar {
  position: fixed;
  /* top: 5em; */
  width: 100%;
  left: 0;
  width: 15vw;
  height: 100vh;
  background: #000;
  z-index: 1001;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.Nav {
  /* width: 70%; */
  /* margin: 0 auto; */
  /* padding-top: 6rem; */
}

.NavList {
  /* list-style: none; */
  /* width: 100%; */
}

.NavLink:link,
.NavLink:visited {
  /* color: black;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  font-family: Gilroy;
  color: #222;
  position: relative;
  left: -14px; */
}

.NavItem {
  /* margin-bottom: 35px; */
}

.NavItem:not(:last-child) {
  /* padding-bottom: 2rem; */
}

.InactiveLink {
  padding-left: 2.2rem;
}

.ActiveLink:link,
.ActiveLink:visited {
  /* background-color: tertiary-color; */
  /* color: secondary-color; */
  /* color: #000; */
  /* color: var(--color1);
  font-weight: bolder;
  padding: 0.5rem 2.2rem;
  border-radius: 10rem; */
}

.ActiveLink:link .sidebarIcon,
.ActiveLink:visited .sidebarIcon {
  /* color: secondary-color; */
  color: #000;
  /* color: var(--color1); */
}

.sidebarIcon {
  /* font-size: 40px; */
  /* margin-right: 14px; */
  color: #444;
  color: var(--color1);
  position: relative;
  /* top: 9px; */
  /* font-weight: 900; */
}

.LogoBox {
  /* margin-top: 2rem; */
  width: 100%;
  text-align: center;
  /* margin: 2rem auto; */
  height: 7rem;
  padding-bottom: 0.6rem;
}

.left_1 {
  position: relative;
  left: 10px;
}
.left_2 {
  position: relative;
  left: 5px;
}

.Logo {
  height: medium-gutter;
}

.Icon {
  height: 3rem;
  width: 2rem;
}

.LogoutIcon {
  margin-right: 0.3rem;
}
.logoCont {
  /* padding: 25px; */
  width: 100%;
}
.SideMenu {
  top: 5em;
  width: 100%;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
}

.MenuList {
  float: left;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 5em;
}

.MenuList li {
  margin-bottom: 0.5em;
  width: 100%;
  float: left;
  position: relative;
}

.MenuList li a img,
.MenuList li img {
  width: 1.2em;
  margin: 0 1em;
  transform: translateY(-0.1em);
}

.MenuList li a,
.MenuList li label {
  font-family: "Proxima Nova Semibold";
  width: 100%;
  float: left;
  position: relative;
  padding: 1em 1em 1em 0;
  color: #505050;
  color: #ccc;
  transition: all 0.3s cubic-bezier(0.4, 0, 0, 1);
  text-transform: capitalize;
  cursor: pointer;
}

.MenuList li a.active,
.MenuList li a:hover,
.MenuList li label.active,
.MenuList li label:hover {
  /*    box-shadow: 0 0 0 1px rgba(13, 110, 255, 1);*/
  background: rgba(13, 110, 255, 0.03);
  color: var(--blue);
}

.MenuList li a.active:before,
.MenuList li label.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: var(--blue);
}

/* .Dropdown {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.89, 0.01, 0.24, 0.88);
  -o-transition: all 0.3s cubic-bezier(0.89, 0.01, 0.24, 0.88);
  transition: all 0.3s cubic-bezier(0.89, 0.01, 0.24, 0.88);
} */

.SubMenu {
  /* display: none; */
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.89, 0.01, 0.24, 0.88);
  -o-transition: all 0.3s cubic-bezier(0.89, 0.01, 0.24, 0.88);
  transition: all 0.3s cubic-bezier(0.89, 0.01, 0.24, 0.88);
}

.SubMenu li {
  margin-bottom: 0;
}

.SubMenu li a {
  padding: 1em 1em 1em 3em;
  color: #707070;
}

.SubMenu li a.active {
  background: transparent;
}

.SubMenu li a.active:before {
  display: none;
}
.UserDropdownCheck {
  display: none;
}
.UserDropdownCheck:checked ~ .SubMenu {
  height: 220px;
}
