@value Variables: "../../../styles/Variables.css";
@value white-color, black-color from Variables;

.Modal {
  position: fixed;
  top: 41%;
  left: 40%;
  max-width: 35rem;
  min-height: 31%;
  background-color: white-color;
  width: 100%;
  padding: 16px;
  z-index: 5000;
  border-radius: 9px;
  transition: all 0.3s ease-out;
}
