@value Variables: "../../../styles/Variables.css";
@value black-color, small-gutter, typeform-border-color from Variables;
@value tertiary-color-light, thin-gutter  from Variables;

.Aside {
  height: 100%;
  width: 5%;
  padding-top: small-gutter;
  padding-left: thin-gutter;
  border-right: 2px solid typeform-border-color;
}

.SideNav {
  height: 100%;
}

.ImgBox {
  height: 5rem;
  width: 5rem;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  max-width: 100%;
}

.ActiveImgBox {
  background-color: tertiary-color-light;
}

.ImgBox:not(:last-child) {
  margin-bottom: small-gutter;
}

.ImgHolder {
  position: absolute;
  height: 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Img {
  width: 100%;
  height: 100%;
}
