@value Variables: "../../../styles/Variables.css";
@value typeform-border-color, small-gutter, thin-gutter from Variables;

.editorPresenter {
  z-index: 100;
  position: relative;
  width: 35%;
  height: 100%;
  border-right: 2px solid typeform-border-color;
}
.editorsContainer {
  max-height: 100%;
  padding-bottom: 100%;
  position: relative;
  padding-top: thin-gutter;
  overflow: scroll;
}
.removeElem {
  position: absolute;
  right: 6px;
  top: 22px;
  color: red;
  cursor: pointer;
  z-index: 2000;
}
.compactCont {
  border: 1px solid #ccc;
  margin: 0px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  background: #fff8bc;
}
.compactAllCont {
  position: relative;
}
