@value Variables: "../../../styles/Variables.css";
@value defaultFont from Variables;
.Button {
  font-size: defaultFont;
  padding: 0.6rem 1.7rem;
  border-radius: 24px;
  cursor: pointer;
  outline: none;
}

.Button:not(:last-child) {
  margin-right: 2rem;
}
