@value Variables: "../../../styles/Variables.css";
@value defaultFont from Variables;
.Button {
  font-size: defaultFont;
  padding: 0.6rem 1.7rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px #ddd;
  border-right: 1px solid #eb1761;
}

.Button:not(:last-child) {
  margin-right: 2rem;
}
