@value Variables: "../../../styles/Variables.css";
@value white-color, typeform-border-color from Variables;

.section {
  background-color: white-color;
  border-radius: 9px;
  width: 50%;
  margin: 0 auto;
  height: 24vh;
  padding: 5px;
}

.text {
  text-align: center;
  padding-top: 1rem;
  /* font-size: 20px; */
  font-weight: bold;
}

.controls {
  margin-top: 3.5rem;
  text-align: center;
}
.ActiveBtn {
  background: var(--blue);
}
