.nextButton {
  padding: 7px 8px 7px;
  min-width: 40px;
  background-color: rgba(79, 176, 174, 0.3);
  margin: 0;
  height: 40px;
  display: inline-block;
  border: 1px solid;
  position: relative;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

.nextButtonText {
  font-size: 18px;
  font-weight: 700;
  margin: 0 5px;
  line-height: 25px;
}

.buttonInstruction {
  color: #4fb0ae;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 17px;
  font-weight: 400;
  margin-left: 10px;
  display: inline-block;
  white-space: nowrap;
}
