@value Variables: "../../../../styles/Variables.css";
@value small-gutterfrom,  medium-gutter Variables;
@value primary-color, white-color from Variables;

.Header {
  background-color: primary-color;
  color: white-color;
  height: 9vh;
}

.Header::after {
  content: "";
  display: table;
  clear: both;
}

.LeftSide {
  float: left;
}

.LogoBox {
  display: inline-block;
}

.ParentLinkBox {
  background-color: white-color;
  display: inline-block;
}

.LinkIcon {
  height: medium-gutter;
}

.TextBox {
  display: inline-block;
}

.RightSide {
  float: right;
}
