@value variables: "../../../../styles/Variables.css";
@value small-gutter,  medium-gutter from variables;
@value primary-color, white-color from variables;

.Header {
  background-color: primary-color;
  background-color: var(--color1);
  color: white-color;
  z-index: 20;
  border-bottom: 10px solid #fcfcfc;
  /* height: 9vh; */
}

.Header::after {
  content: "";
  display: table;
  clear: both;
}

.LogoBox {
  float: left;
  margin-top: 0.5rem;
  margin-left: 5rem;
  height: 7rem;
  padding-bottom: 0.6rem;
}

.Logo {
  height: medium-gutter;
}

.Icon {
  height: 3rem;
  width: 2rem;
}

.LogoutIcon {
  margin-right: 0.3rem;
}

.NavBox {
  float: right;
}
