.layoutCont {
  min-height: 400px;
  width: 100%;
  padding: 40px;
  background: #efefdf;
  /* background: #DFDFBF; */
  display: flex;
}

.right,
.left {
  display: flex;
  box-shadow: 0 0 20px #bbb;
}

.left {
  flex: 2;
  margin-right: 20px;
}
.right {
  flex: 1;
}

.settingsCont,
.EP_Cont,
.FP_Cont {
  background: #fff;
  /* box-shadow: 0 0 10px #ccc; */
  /* border-radius: 6px; */
  /* padding:20px; */
  /* float: left; */
  /* border:1px solid red */
}

.settingsCont {
  margin-right: 0px;
  /* width: 20%; */
  flex: 2;
}
.EP_Cont {
  /* margin-right: 20px; */
  /* width: 100%; */
  flex: 3;
}
.FP_Cont {
  /* width: 50%; */
  flex: 1;
}
.clearfix {
  clear: both;
}
