@value Variables: "../../../../styles/Variables.css";
@value small-gutter from Variables;

.Item {
  display: inline-flex;
  cursor: pointer;
}

.Item:not(:last-child) {
  margin-right: small-gutter;
}
