.ElementAnswer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.Answer {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(79, 176, 174);
  -webkit-appearance: none;
  font-size: 30px;
  line-height: 38px;
  -webkit-font-smoothing: antialiased;
  padding: 0px 0px 8px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  background: none;
}

.Answer::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.Answer:not(:focus) {
  box-shadow: rgba(79, 176, 174, 0.3) 0px 1px;
}

.inactiveWrapper {
  visibility: hidden;
}

.nextButtonWrapper {
  display: flex;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  align-items: center;
  margin-top: 15px;
}

.ValidationWrapper {
  opacity: 0;
  pointer-events: none;
  transform: translateY(8px);
  transition: all 300ms ease 0ms;
}

.Validation {
  margin-top: 15px;
  position: absolute;
  background-color: rgba(153, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 4px 8px;
}

.ValidationText {
  font-weight: unset;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0px;
}
