@value Variables: "../../../styles/Variables.css";
@value white-color from Variables;
.answer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.answer:not(:last-child) {
  margin-bottom: 2rem;
}

.questionDecoration {
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  width: 5rem;
  border-radius: 3px;
  margin-right: 1rem;
  position: relative;
}

.iconHolder {
  height: 1.8rem;
  margin-top: 0.4rem;
}

.Icon {
  width: 100%;
  height: 100%;
}

.questionPosition {
  margin-right: 0.9rem;
  color: white-color;
}

.questionText {
  font-size: 1.5rem;
}

.answerText {
  font-weight: 600;
}

.imgWrapper {
  height: 30rem;
  width: 20rem;
}
.img {
  height: 100%;
  width: 100%;
}
