@value Variables: "../../styles/Variables.css";
@value secondary-color from Variables;

.BusinessSettings {
  min-height: 100px;
  width: 100%;
  padding: 40px;
  background: #efefdf;
}
.counter {
  float: right;
  color: #999;
  font-weight: bold;
}
.textAreaCont {
  border: 1px solid secondary-color;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #aaa;
  background: #fff;
}
.textAreaHeading {
  margin: 0;
  padding: 20px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: normal;
  color: #999;
  background: #f7f7f7;
}
.textArea {
  height: 28vh;
  width: 100%;
  border-radius: 3px;
  padding-top: 3rem;
  padding-left: 3rem;
  font-family: inherit;
  font-size: 20px;
  font-family: Gilroy;
  color: #333;
  border: none;
  resize: none;
  outline: none;
}
.uploadSection {
  width: 60%;
  margin: 0px auto 2rem;
}
.textSection {
  width: 60%;
  margin: 0px auto 2rem;
}
.footerSection {
  width: 100%;
  text-align: center;
}

.dzCont,
.prevCont {
  float: left;
}
.dzPrevCont {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px #aaa;
}
.dzCont {
  width: 70%;
}
.prevCont {
  width: 30%;
  height: 21rem;
  border: 2px solid #ccc;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
}
.prevCont {
  background: #fff;
}
.prevContInside {
  position: relative;
  /* top:-30px; */
  left: 10px;
}
.clearfix {
  clear: both;
}
