.form {
  min-height: 1000px;
  width: 100%;
  padding: 40px;
  background: #efefdf;
  /* background:#E0DFC0; */
}
.tableCont {
  box-shadow: 0px 0px 20px #ddd;
}
.controlIcon {
  margin-right: 5px;
  font-size: 24px;
  position: relative;
  top: 3px;
}
.btnText {
  color: #000;
  font-weight: bold;
  position: relative;
  top: -1px;
}
input.invalid,
select.invalid {
  border: 1px solid red !important;
}
